@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #111827;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}

.container {
  @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
}
